body{
  margin: 0;
  height: 100vh;

  font-family: 'Work Sans', sans-serif;

  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
}

.top{
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.links > a{
  color: rgb(20, 20, 20);
  text-decoration: none;
  font-size: 0.8em;
}

.links > a:hover{
  text-decoration: underline;
}

.main{
  display: flex;
  align-items: center;
  flex-grow: 2;
  justify-content: center;
}

h1{
  font-size: 2.5em;
  font-weight: 300;
  padding: 1em;
}

span{
  font-weight: 400;
  display: inline-block;
  width: 9em;

  transition: 0.5s all;
}

.hide{
  opacity: 0;
}

footer{
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
}

@media only screen and (max-width: 768px) {
  span {
    transition: 0.8s all;
  }
}